<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              placeholder="Name"
              formControlName="name"
              matInput
              type="text"
            />
            <mat-error>
              @if (nameField.hasError("required")) {
                <span>This is field required</span>
              }
              @if (nameField.hasError("minlength")) {
                <span>This is field have 4 car...!</span>
              }
              @if (nameField.hasError("not_available")) {
                <span>This name already in another field</span>
              }
            </mat-error>
            <!-- @if(nameField.touched && nameField.invalid) {} -->
            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <!-- @if (imageField.value | async; as image) {
            <img [src]="image" />
          } -->
          @if (imageField.value) {
            <img [src]="imageField.value" />
          }
          <input
            (change)="uploadFile($event)"
            placeholder="Image"
            type="file"
          />
          <div class="messages">
            @if (nameField.touched && nameField.invalid) {
              @if (nameField.hasError("required")) {
                <mat-error>This is Field required</mat-error>
              }
            }
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        @if (isNew) {
          <span>Create Category</span>
        }
        @if (!isNew) {
          <span>Edit Category</span>
        }
      </button>
    </mat-card-actions>
  </mat-card>

  <p>Status: {{ form.status }}</p>
</form>
